@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div @ref="_triggerElement"
     id="@_contextMenuId"
     @oncontextmenu="ShowContextMenuAsync"
     @oncontextmenu:preventDefault>
    @ChildContent
</div>

@if (_isVisible)
{
    <div class="context-menu active" style="left:@($"{_left}px"); top:@($"{_top}px");">
        @foreach (var item in MenuItems)
        {
            @if (item.IsSeparator)
            {
                <div class="context-menu-separator"></div>
            }
            else
            {
                <div class="context-menu-item @(item.IsDanger ? "danger" : "") @(item.HasSubmenu ? "has-submenu" : "")"
                     @onclick="() => OnItemClickAsync(item)">
                    @if (!string.IsNullOrEmpty(item.IconClass))
                    {
                        <i class="@item.IconClass"></i>
                    }
                    <span>@item.Text</span>
                    @if (item is { HasSubmenu: true, Submenu: not null })
                    {
                        <i class="fas fa-chevron-right submenu-icon"></i>
                        <div class="submenu">
                            @foreach (var subItem in item.Submenu)
                            {
                                <div class="context-menu-item"
                                     @onclick="() => OnItemClickAsync(subItem)">
                                    @if (!string.IsNullOrEmpty(subItem.IconClass))
                                    {
                                        <i class="@subItem.IconClass"></i>
                                    }
                                    <span>@subItem.Text</span>
                                </div>
                            }
                        </div>
                    }
                </div>
            }
        }
    </div>
}
