@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="progress-circle" style="width: @(Size)px; height: @(Size)px;">
    <svg viewBox="0 0 @DefaultViewBoxSize @DefaultViewBoxSize">
        <circle class="progress-circle__background"
                cx="@(DefaultViewBoxSize / 2)"
                cy="@(DefaultViewBoxSize / 2)"
                r="@Radius">
        </circle>
        <circle class="progress-circle__progress"
                cx="@(DefaultViewBoxSize / 2)"
                cy="@(DefaultViewBoxSize / 2)"
                r="@Radius"
                style="stroke-dasharray: @Circumference @Circumference;
                stroke-dashoffset: @Offset;">
        </circle>
    </svg>
    <span class="progress-circle__text">@Progress%</span>
</div>
