@inject IPageAlertService AlertService
@inject ISubscriber<string, Notification> ChannelNotificationSubscriber
@inject IDebounceService DebounceService
@using DropBear.Codex.Blazor.Interfaces
@using DropBear.Codex.Notifications.Models
@using DropBear.Codex.Serialization.Interfaces
@using DropBear.Codex.Utilities.Interfaces
@using MessagePipe
@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="page-alert-container">
    @foreach (var alert in CombinedAlerts.OrderByDescending(a => a.CreatedAt))
    {
        <DropBearPageAlert
            Title="@alert.Title"
            Message="@alert.Message"
            Type="@alert.Type"
            IsDismissible="@alert.IsDismissible"
            OnClose="@(() => RemoveAlert(alert))"/>
    }
</div>

@code {
    // Left blank on purpose.
}
