@inject IPageAlertService AlertService
@inject IAsyncSubscriber<string, Notification> NotificationSubscriber
@inject IDebounceService DebounceService
@using DropBear.Codex.Blazor.Interfaces
@using DropBear.Codex.Notifications.Models
@using DropBear.Codex.Utilities.Interfaces
@using MessagePipe
@inherits DropBear.Codex.Blazor.Components.Bases.DropBearComponentBase

<div class="page-alert-container" role="alert" aria-live="polite">
    <CascadingValue Value="this">
        @foreach (var alert in CombinedAlerts)
        {
            <DropBearPageAlert
                @key="alert.Id"
                Title="@alert.Title"
                Message="@alert.Message"
                Type="@alert.Type"
                IsDismissible="@alert.IsDismissible"
                OnClose="@(() => OnCloseAlert(alert))"/>
        }
    </CascadingValue>
</div>
